:host {
  min-width: 150px;
  height: 30px;
  display: flex;
  flex-flow: column;
  position: relative;
}

.tagsbox {
  flex: auto;
  height: 100%;
  padding: 0 5px;
  border: 1px solid var(--gray-middle);
  border-radius: 5px;
  cursor: pointer;
  transition: all .3s;
  display: flex;
  align-items: center;
  gap: 5px;
}

.tagsbox:hover {
  border-color: var(--theme-dark);
}

.tags {
  padding: 2px 4px;
  font-size: .8em;
  background: var(--gray-middle);
  border-radius: 5px;
}

.listbox {
  width: 100%;
  margin-top: 30px;
  background: #fff;
  border: 1px solid var(--gray-middle);
  border-radius: 5px;
  cursor: pointer;
  position: absolute;
  z-index: 10;
}

.listone {
  width: 100%;
  height: 30px;
  transition: all .3s;
  display: flex;
  align-items: center;
}

.arrow {
  width: 30px;
  height: 100%;
  font-size: .8em;
  font-weight: 800;
  transition: all .3s;
  display: flex;
  align-items: center;
  justify-content: center;
}

.list {
  width: calc(100% - 30px);
  height: 100%;
  transition: all .3s;
  display: flex;
  gap: 10px;
  align-items: center;
}

.arrow:hover,
.list:hover {
  color: var(--theme-dark)
}

.listtwobox {
  width: 100%;
  display: flex;
  flex-flow: column;
}

.listtwo {
  width: 100%;
  height: 30px;
  padding-left: 20px;
  transition: all .3s;
  display: flex;
  gap: 10px;
  align-items: center;
}

.listone:hover,
.listtwo:hover {
  background: var(--theme-light);
}