<div class="tagsbox" (click)="show()" (click)="$event.cancelBubble = true">

  <span *ngFor="let t of tagsChoose" class="tags">{{t}}</span>

</div>

<div class="listbox" [class.updisplay]='listShow' [class.downhide]='!listShow' (click)="$event.cancelBubble = true">

  <div *ngFor='let t of tags'>

    <div class="listone">

      <svg viewBox="4 4 16 16" class="arrow" [class.clockwise]='t.open' [class.anticlockwise]='!t.open' (click)="open(t)">
        <path d="M8.59 16.34 l4.58 -4.59 -4.58 -4.59 L10 5.75 l6 6-6 6 Z"></path>
      </svg>

      <label class="list">{{t.text}}<input type="checkbox" [checked]='t.choose' (click)="chooseAll(t)"></label>

    </div>

    <div class="listtwobox" [class.heightmore]='t.open' [class.heightless]='!t.open'>

      <label *ngFor='let tt of t.children' class="listtwo">{{tt.text}}<input type="checkbox" [checked]='tt.choose' (click)="chooseOne(t, tt)"></label>

    </div>

  </div>

</div>