<div class="tagsbox">

  <span *ngFor="let t of tagsChoose" class="tags">{{t}}</span>

</div>

<!-- <div class="listbox" [class.heightmore]='showlist' [class.heightless]='!showlist'>

  <div *ngFor='let l of lists'>

    <div class="lists0">

      <span class="mark" (click)='changebox(l)' [class.clockwise]='l.open' [class.anticlockwise]='!l.open'>&#8250;</span>

      <label class="lsit lsit0">{{l.category}}<input type="checkbox" (click)='chooseAll(l)' [checked]='l.select'></label>

    </div>

    <div class="lists" [class.heightmore]='l.open' [class.heightless]='!l.open'>

      <label class="lsit" *ngFor='let e of l.ele'>{{e.desc}}<input type="checkbox" (click)='chooseOne(e, l)' [checked]='e.select'></label>

    </div>

  </div>

</div> -->