<div class="tagsbox" (click)="show()">

  <span *ngFor="let t of tagsChoose" class="tags">{{t}}</span>

</div>

<div class="listbox downdisplay" *ngIf="listShow">

  <div *ngFor='let t of tags'>

    <div class="listone">

      <span class="arrow" [class.clockwise]='t.open' [class.anticlockwise]='!t.open' (click)="open(t)">&#8250;</span>

      <label class="list">{{t.text}}<input type="checkbox" [checked]='t.choose' (click)="chooseAll(t)"></label>

    </div>

    <div class="listtwobox" [class.heightmore]='t.open' [class.heightless]='!t.open'>

      <label *ngFor='let tt of t.children' class="listtwo">{{tt.text}}<input type="checkbox" [checked]='tt.choose' (click)="chooseOne(t, tt)"></label>

    </div>

  </div>

</div>