:host {
  display: flex;
  gap: 10px;
  flex-flow: column;
}

.title {
  font-weight: 800;
}

.main {
  display: flex;
  gap: 5px 10px;
  flex-flow: column wrap;
  align-content: flex-start;
}

.llegend {
  height: 20px;
  display: flex;
  gap: 5px;
  align-items: center;
}

.img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 1em;
  height: 1em;
  position: relative;
  left: -30px;
}