:host {
  overflow: auto;
  cursor: pointer;
  display: flex;
  gap: 2px;
  flex-flow: column nowrap;
}
:host::-webkit-scrollbar {
  width:5px;
}
:host::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--light-blue);
}

.title {
  height: 2em;
  padding: 0 10px;
  font-size: 1.2em;
  background: var(--light-blue);
  transition: all .3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title:hover {
  color: var(--dark-blue);
  fill: var(--dark-blue);
}

.list {
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 20px;
  transition: all .3s;
}
.list:hover {
  color: var(--dark-blue);
  fill: var(--dark-blue);
  background: var(--light-blue);
}

.select {
  color: var(--dark-blue);
  fill: var(--dark-blue);
}