:host {
  overflow: auto;
  cursor: pointer;
  display: flex;
  gap: 1px;
  flex-flow: column nowrap;
}
:host::-webkit-scrollbar {
  width:5px;
}
:host::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--theme-light);
}

.title {
  height: 2.2em;
  padding: 0 10px;
  font-size: 1.1em;
  background: var(--theme-light);
  transition: all .3s;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list {
  height: 2.5em;
  line-height: 2.5em;
  padding: 0 20px;
  transition: all .3s;
}
.list:hover {
  color: var(--theme-dark);
  fill: var(--theme-dark);
  background: var(--theme-light);
}

.select,
.title:hover {
  color: var(--theme-dark);
  fill: var(--theme-dark);
}

.titleblock::before {
  width: 0;
  background: none;
}
.title:hover>.titleblock::before,
.titleblock:hover::before,
.select::before,
.select>.titleblock::before {
  width: 3px;
  background: var(--theme-dark);
}