/* 顺时针旋转 */
.clockwise {
  --angle: 90deg;
  animation: clockwise .3s ease-out forwards;
}
@keyframes clockwise {
  form { transform: rotate(0) }
  to { transform: rotate(var(--angle)) }
}

/* 逆时针旋转 */
.anticlockwise {
  --angle: 90deg;
  animation: anticlockwise .3s ease-in forwards;
}
@keyframes anticlockwise {
  from { transform: rotate(var(--angle)) }
  to { transform: rotate(0) }
}

/* 最大高度减少 */
.heightless {
  --maxheight: 1000px;
  animation: heightless .5s linear forwards;
  overflow: hidden;
}
@keyframes heightless {
  from { max-height: var(--maxheight); opacity: 1; }
  to { max-height: 1px; opacity: 0; }
}

/* 最大高度增大 */
.heightmore {
  --maxheight: 1000px;
  animation: heightmore .5s linear forwards;
  overflow: hidden;
}
@keyframes heightmore {
  from { max-height: 1px; opacity: 0; }
  to { max-height: var(--maxheight);  opacity: 1; }
}