<div class="main">

  <s-menu [smenu]='smenu' [open]='true' [select]="[0, 0]" (reselect)='getSMenu($event)'></s-menu>

  <div class="router">

    <router-outlet></router-outlet>

  </div>

</div>

<div class="others">

  <better-table [head]="bthead" [body]="btbody" [line]="10" [click]='true' [id]='1' (clickTr)='clickTr($event)'></better-table>

  <!-- <count [value]='3' (valueChange)='getCount($event)'></count> -->

  <!-- <legend [height]="'300px'"></legend> -->

  <!-- <play-bar (onplaybar)="onplaybar($event)"></play-bar> -->

</div>