<div class="main">

  <super-menu [origin]="smenu" [smenu]='smenu' (selectmenu)="selectmenu($event)" (selectMenu)="selectmenu($event)"></super-menu>

  <div class="router">

    <router-outlet></router-outlet>

  </div>

</div>

<div class="others">

  <better-table [head]="bthead" [body]="btbody" [line]="10" [click]='true' [id]='1' (clickTr)='clickTr($event)'></better-table>

  <!-- <count [value]='3' (valueChange)='getCount($event)'></count> -->

  <!-- <legend [height]="'300px'"></legend> -->

  <!-- <play-bar (onplaybar)="onplaybar($event)"></play-bar> -->

  <tags-choose [tags]="tags" [max]="5" (chooseTags)="chooseTags($event)"></tags-choose>

</div>