<div class="tables">

  <table>
    <tr>
      <th *ngFor='let h of head' [style.width]='h.width ? h.width : "auto"'>{{h.name}}</th>
    </tr>
  </table>

  <div class="body">

    <table>
      <tr *ngFor='let p of pbody'>
        <td *ngFor='let h of head' [style.width]='h.width ? h.width : "auto"'>{{p[h.field]}}</td>
      </tr>
    </table>

  </div>

</div>

<div class="tools">

  <sort [head]='head' [body]='sbody' (bodyChange)='tsort($event)'></sort>

  <search [body]='body' (bodyChange)='tsearch($event)'></search>

  <div class="maxp">共 {{max}} 页</div>

  <page [(page)]='page' [min]='min' [max]='max' (pageChange)='tpage($event)'></page>

</div>