<div class="tables">

  <table class="headt">
    <tr>
      <th *ngFor='let h of head' [style.width]='h.width ? h.width : "auto"'>{{h.name}}</th>
    </tr>
  </table>

  <div class="body">

    <table class="bodyt">
      <tr *ngFor='let p of pbody'>
        <td *ngFor='let h of head' [style.width]='h.width ? h.width : "auto"'>{{p[h.field]}}</td>
      </tr>
    </table>

  </div>

</div>

<div class="tools">

  <sort [head]='head' [body]='sbody' (bodyChange)='bodySort($event)'></sort>

  <search [body]='body' (bodyChange)='bodySearch($event)'></search>

  <page [(page)]='page' [min]='min' [max]='max' (pageChange)='pageChange($event)'></page>

</div>