:host {
  width: 600px;
  height: 300px;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  white-space: nowrap;
}

tr:nth-child(2n + 1) {
  background: var(--theme-light);
}

th {
  color: var(--theme-dark);
  text-align: start;
  border: 1px solid var(--gray-middle);
  border-bottom: none;
}

td {
  height: 30px;
  border: 1px solid var(--gray-middle);
}

th, td {
  text-indent: 10px;
  box-sizing: border-box;
  overflow-x: auto;
}

.table {
  height: calc(100% - 50px);
  overflow: hidden;
}

.headt {
  height: 30px;
}

.body {
  height: calc(100% - 30px);
  overflow: auto;
}

.body::-webkit-scrollbar {
  width: 0;
}

page {
  flex: 0 0 30px;
  align-self: flex-end;
}
