:host {
  display: flex;
  gap: 10px;
  flex-flow: column nowrap;
}

.title {
  font-size: 1.1em;
}

.lists {
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  gap: 14px;
  flex-flow: row wrap;
}

.list {
  transition: all .3s;
}
.list::before {
  width: 1px;
}

.select,
.list:hover {
  color: var(--theme-dark);
}

.list:hover::before,
.select::before {
  box-shadow: 0 0 0 1px var(--theme-dark);
}