:host {
  display: flex;
  gap: 10px;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-size: 1.1em;
}

.count {
  display: flex;
  gap: 10px;
}

[type='button'],
[type='text'] {
  width: 25px;
  height: 25px;
  border: 1px #000 solid;
  border-radius: 5px;
  transition: all .3s;
}

[type='text'] {
  width: 50px;
  text-indent: 10px;
}

[type='button']:hover,
[type='text']:focus {
  color: var(--theme-dark);
  border: 1px var(--theme-dark) solid;
}