:host {
  height: 300px;
  background: #fff;
  display: flex;
  flex-flow: column;
  gap: 20px;
}

/* table 设计 */

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0px;
  table-layout: fixed;
}

tr:nth-child(2n + 1) {
  background: var(--gray-light);
}

th,
td {
  height: 30px;
  padding: 0 10px;
  text-align: start;
  word-wrap: break-word;
  border: 1px solid var(--gray-middle);
  overflow: auto;
}

/* 盒子 */

.tables {
  width: 100%;
  flex: 1 1 auto;
  overflow: hidden;
  display: flex;
  flex-flow: column;
}

.body {
  flex: 1 1 auto;
  overflow: auto;
}

.body::-webkit-scrollbar {
  width: 0;
}

.tools {
  width: 100%;
  flex: 0 0 30px;
  display: flex;
  gap: 20px;
}

sort {
  width: calc(100% - 510px);
  height: 100%;
}

search {
  flex: 150px;
  height: 100%;
}

.maxp {
  flex: 100px;
  height: 100%;
  border: 1px solid var(--gray-middle);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

page {
  flex: 200px;
  height: 100%;
}

/* 点击行样式 */

.tr:hover,
.select {
  background: var(--theme-light) !important;
  cursor: pointer;
  transition: all .3s;
}