<div class="tables">

  <table>
    <tr>
      <th *ngFor='let h of head' [style.width]='h.width'>{{h.name}}</th>
    </tr>
  </table>

  <div #betterTableBody class="body">

    <table>
      <tr *ngFor='let p of pbody' [class.tr]='click' [class.select]='click && p.id == id' (click)='trClick(p)'>
        <td *ngFor='let h of head' [style.width]='h.width'>{{p[h.field]}}</td>
      </tr>
    </table>

  </div>

</div>

<div class="tools">

  <sort [head]='head' [sbody]='sbody' (sbodyChange)='tsort($event)'></sort>

  <search [body]='body' (bodyChange)='tsearch($event)'></search>

  <div class="maxp">共 {{max}} 页</div>

  <page [(page)]='page' [min]='min' [max]='max' (pageChange)='tpage($event)'></page>

</div>