:host {
  height: 30px;
  display: flex;
  gap: 5px;
}

.iconbox {
  width: 30px;
  height: 100%;
  border: 1px solid var(--gray-middle);
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .3s;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconbox:hover,
.iconbox:hover .icon {
  fill: var(--theme-dark);
  border-color: var(--theme-dark);
}

.icon {
  width: 14px;
  height: 14px;
  fill: var(--gray-dark);
  transition: all .3s;
  position: relative;
  top: 1px;
}

.sortbox {
  width: calc(100% - 35px);
  overflow: auto;
  display: flex;
  gap: 5px;
}

.sort {
  height: 30px;
  min-width: 30px;
  padding: 0 5px;
  border: 1px solid var(--gray-middle);
  border-radius: 5px;
  box-sizing: border-box;
  transition: all .3s;
  display: flex;
  align-items: center;
}

.sort:hover {
  color: var(--theme-dark);
  cursor: pointer;
}

.shengxu {
  border-color: var(--theme-dark);
}

.jiangxu {
  border-color: var(--theme-light);
}