:host {
  width: 100%;
  height: 100%;
  display: block;
}

menu-two {
  border: 1px var(--dark-blue) solid;
}

single-choice {
  border: 1px var(--dark-blue) solid;
}

count {
  width: 350px;
  border: 1px var(--dark-blue) solid;
}