.page-option {
  display: flex;
  gap: 1em;
}

.page-right {
  flex: 1;
  display: flex;
  flex-flow: column;
  gap: 1em;
}

.page-filter {
  padding: 1em;
  display: flex;
  justify-content: space-between;
  background: #fff;
}

.page-table {
  background: #fff;
}

.page-btns {
  display: flex;
  gap: 1em;
}