<div class="menu" *ngFor='let menu of menuTwo'>

  <div class="title" (click)='menu.open =! menu.open' [class.select]='menu.id == select[0]'>
    <div class="titleblock">{{menu.title}}</div>
    <div [class.clockwise]='menu.open' [class.anticlockwise]='!menu.open'>
      <svg viewBox="4 4 16 16" width="1em" height='1em'>
        <path d="M8.59 16.34 l4.58-4.59-4.58-4.59 L10 5.75 l6 6-6 6 Z"></path>
      </svg>
    </div>
  </div>

  <div class="lists" [class.heightmore]='menu.open' [class.heightless]='!menu.open'>
    <a class="list titleblock" *ngFor='let list of menu.list' (click)='selected(menu, list)' [routerLink]="list.path"
      routerLinkActive="select">
      {{list.title}}
    </a>
  </div>

</div>
