:host {
  width: 150px;
  height: 30px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.count-btn {
  flex: 1 0 25px;
  height: 100%;
  color: var(--theme-dark);
  border-color: var(--theme-dark);
  border-radius: 10px;
  transition: all .3s;
}

.count-text {
  flex: 6 0 50px;
  min-width: 50px;
  height: 100%;
  color: var(--theme-dark);
  border-color: var(--theme-dark);
  text-indent: 10px;
  border-radius: 10px;
  transition: all .3s;
}

.count-btn:hover,
.count-text:focus {
  color: #fff;
  background: var(--theme-dark);
  border-color: #fff;
}