.website-config {
  padding: 1em;
  background-color: #fff;

  .website-save-box {
    padding: 0 0 1em 0;
    margin-bottom: 2em;
    border-bottom: 1px solid #f0f0f0;
    display: flex;
    gap: 1em;
    justify-content: flex-end;
  }
}