:host {
  width: 350px;
  height: 100%;
  overflow: auto;
  cursor: pointer;
  display: flex;
  gap: 1px;
  flex-flow: column;
}

:host::-webkit-scrollbar {
  width: 5px;
}

:host::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--theme-light);
}

.titleblock::before {
  width: 0;
  opacity: 0;
}

.menuitem {
  width: 100%;
  height: 50px;
  transition: all .3s;
  display: flex;
  align-items: center;
  position: relative;
}

.menubox {
  width: 100%;
  display: flex;
  gap: 1px;
  flex-flow: column;
}

.menuicon {
  width: .8em;
  height: .8em;
  position: absolute;
  right: 10px;
}

super-menu {
  width: 100%;
  height: auto;
}

.menuitem:hover {
  color: var(--theme-dark);
  fill: var(--theme-dark);
  background: var(--theme-light);
}

.select {
  color: var(--theme-dark);
  fill: var(--theme-dark);
}

.menuitem:hover::before,
.select::before {
  width: 3px;
  opacity: 1
}

.headitem {
  font-weight: 800;
  background: var(--theme-light);
}