:host {
  width: 200px;
  height: 30px;
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
}

.page-btn {
  flex: 1;
  height: 100%;
  border: 1px solid var(--gray-middle);
  border-radius: 5px;
  transition: all .3s;
}

.page-text {
  flex: 2;
  width: 60px;
  height: 100%;
  text-indent: 5px;
  border: 1px solid var(--gray-middle);
  border-radius: 5px;
  transition: all .3s;
}

.page-btn:hover,
.page-text:focus {
  color: var(--theme-dark);
  border-color: var(--theme-dark);
}