:host {
  display: flex;
  gap: 20px;
  flex-flow: column;
}

.box {
  --height: 200px;
  max-height: var(--height);
  display: flex;
  gap: 10px;
  flex-flow: column wrap;
  align-content: flex-start;
}

.legend {
  display: flex;
  gap: 5px;
}

.img {
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  --color: #000;
  width: 1em;
  height: 1em;
  background: var(--color);
  filter: drop-shadow(50px 0 var(--color));
  position: relative;
  left: -50px;
}